@charset "utf-8";
#headline{

	width:100%;
	min-width: 1263px;
	height: 300px;
	background:linear-gradient(to right bottom,rgba(0,0,0,0.45),rgba(0,0,0,0)),url(../images/headline.jpg) no-repeat  center;
}
#headline .center{

	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{

	padding: 100px 0 0 50px;

}
#headline h2{

	color: #eee;
	font-size: 36px;
	letter-spacing: 1px;

}
#headline h3{

	color: #eee;
	font-size: 20px;
	letter-spacing: 1px;

}

#container{

	width: 1263px;
	height: auto;
	margin: 30px auto;
	
}
#container .sidebar{

	width: 340px;
	background-color: #eee;
	height: auto;
	float: right;
	border: 1px solid #eee;

}
#container .list{

	width: 900px;
	height: auto;

	
	
	
	border: 1px solid #eee;
	
	
	float: left;


}
#container .infor{

	height: 45px;
	line-height: 45px;
	margin: 0 0 20px 0;
	background-color: #eee;

}
#container ul.left{

	display: inline-block;
	float: left;
}
#container ul.left li{

	width: 150px;
	height: 43px;
	line-height: 43px;
	font-size: 18px;
	display: inline-block;
}
#container ul.left li a{

	display: block;
	text-align: center;
	color: #666;
}
#container ul.left li:first-child{

	
	position: relative;
	left: 1px;

}
#container ul.left li a{ cursor: pointer;}
#container ul.left .tab-1{
	background-color: #fff;
	border-top: 2px solid #458b00;
}


#container ul.right{

	float: right;
	padding: 0 20px 0 0;
	
}
#container ul.right li {
	width: 60px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	
}
#container ul.right li a{
	
	
	padding: 3px 8px;

}
#container ul.right .selected
{

	background-color: #458b00;
	color: #fff;
}

#container .tour {

	height: 230px;
	
	border: 1px solid #eee;
	margin: 0 0 20px 0;
	position: relative;


	
}
#container .tour .reserve{

	margin: 10px 0 0 0 ;
}
#container .tour .reserve a{

	display: block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #f60;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
#container .tour img{
	float: left;
}
#container .tour figcaption{
	float: right;
	width: 518px;
	height: 230px;
}	
#container .tour hgroup{

	width: 300px;
}
#container .tour h2{

	font-size: 24px;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	color: #333
}
#container .tour h3{

	font-size: 16px;
	padding: 10px 0 5px 25px;
	line-height: 1.5;
	color: #333;
	font-weight: normal;
}
#container .tour ol{

	padding: 0 0 0 25px;
	line-height: 2;
}
#container .sidebox{
	
	text-align: center;

}
#container .tour mark {

	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid #458b00;
	background-color: #fff;
	color: #458b00;
}
#container .tour .buy {

	position: absolute;
	top:50px;
	right: 30px;
}
#container .tour s{

	font-size: 16px;
	color: #999;

}
#container .tour .price{

	font-size: 20px;
	color: #f60;
}
#container .tour .price  strong{

	font-size: 36px;
}
#container .tour .type{

	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-bottom-right-radius: 4px;
	background-color: #59b200;
	letter-spacing: 1px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
#container .tour .disc{

	width: 52px;
	height: 52px;
	background:url(../images/disc.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;


	

}
#container .tour .disc span{

	width: 52px;
	height: 52px;
	display: block;
	font-size: 14px;
	color: #ff7a4d;
	transform:rotate(45deg);
	text-indent:7px;
	padding: 5px 0 0 0 ;

}
#container .tour time{

	color: #458b00;

}
#container .list .more{

	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fafafa;
}
#container .tour footer {

	width: 518px;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	color:#666;
	position: absolute;
	bottom: 0;
	background-color: #fafafa;
	letter-spacing: 1px;
}


#container .sidebox h2{

	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1px;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
	



}
#container .tag{
	
padding:  10px 0;
background-color: #fff;
}
#container .tag li {
		
		display: inline-block;
		background-color: #eee;
		width: 100px;
		height: 35px;
		line-height: 35px;
		text-indent: 8px;
		text-align: left;
		margin: 2px 0;

	
}
#container .tag a{

	display: block;
	color: #999;
} 
#container .tag a:hover{

	background-color: #458b00;
	color: #fff;

}

#container figure{

	padding: 10px 0px;
}
#container .hot figure{

	display: inline-block;
	color: #666;
	padding: 4px;
}
#container .box{

	padding: 10px 0;


}
#container .box a{

	display: inline-block;
	margin:2px 0;
	width: 150px;
	height: 40px;
	color: #999;
	background-color: #eee;
	text-align: left;
	text-indent: 35px;


}
#container .box a.trea1{

	background:#eee url(../images/trea1.png) no-repeat 10px -1px;
}
#container .box a.trea2{

	background:#eee url(../images/trea2.png) no-repeat 10px -1px;
}
#container .box a.trea3{

	background:#eee url(../images/trea3.png) no-repeat 10px -1px;
}
#container .box a.trea4{

	background:#eee url(../images/trea4.png) no-repeat 10px -1px;
}



