body{
	
}
#container  .scenery{
	padding-bottom: 2em;
	
}
#container  .scenery h2,#container  .about h2{
	
	height: 56px;
	line-height: 56px;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}
.scenery figure {
	border: 1px solid #ddd;
	width: 32.6%;
	border-radius:4px;
	text-align: center;
	float: left;
	margin: 15px 5px 15px 0;
	box-sizing: border-box;
}
.scenery figure img {
	display: block;
	max-width: 100%;
}
.clearfix:after{
	content: "asdasd";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.about p {
	font-size: 19px;
	color: #666666;
	margin: 25px 0;
}
.about address {
	font-style: normal;
	font-size: 20px;
	color: #666666;
	margin: 20px 0 ;
	
	line-height: 1.6;
}
